<html>
	<head>
    <title> Mini Wiki - <%= title %> </title>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type = "text/javascript" src = "/public/Ajax_Calls.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>  
  </head>
	<body>
  <div class = "top_container">
    <div class = "top_container_left">
      <img class = "image_logo" src = "../public/images/Logo.png" alt = "Logo">
    </div>
    <div class = "top_container_right">Created By Adriane Rambaran
    </div>
  </div>
    <nav class = "nav_container">
        <div class="navbar_options">
          <div class = "search_me">
            <ul class = "navbar_list">
            <li class = "nav_container_search"><input class="typeahead" spellcheck="false" autocomplete="off" name="typeahead" id = "typeahead" type="text" placeholder="Search for an article"></li>
            <li class = "nav_container_li"><a title = "Upload an Image" href="/uploadImage">Upload</a></li>
            <li class = "nav_container_li"><a title = "Go Home" href ="/">Home</a></li>
           </ul>
           </div>
        </div>
    </nav>
<br>
		<div class = "article_title">
			<h1 id = "title"> <%= title %></h1>
		</div>
		<div class = "body_content">
			<table class = table_content>
				<tr>
					<ul>
						<li class = "li_article">
							<b>Sorry, the article <%= title %> doesn't exist.</b>
						</li>
						<li class = "li_article">	
							<a class = "link_to_edit_article" href = "./edit/<%=title%>">
								Create the article <i><%= title %> </i>
							</a>
						</li>
						<li class = "li_article">
							 <b><a class ="link_home" href = '/'>Go Home</a></b>
						</li>
					</ul>
				</tr>
			</table>
		</div>

	</body>
</html>